<section class="border"> 
    <h2>PROYECTOS</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
              <img src="./assets/proyecto1.JPG" class="img-thumbnail border border-0" alt="Logo empresa">
            </div>
            <h3 class="fs-2"> Portfolio Web</h3>
            <p>Portfolio Web para trabajo final en curso #YoProgramo de Argentina Programa, avalado por Ministerio de Economía y la Cámara de la Industria Argentina del Software.</p>
            <a href="#" class="icon-link d-inline-flex align-items-center">
              Acceda al Proyecto <!-- Podría ser LINK GITHUB-->
            </a>
          </div>
        </div>
    </section>