<section class="border"> 
    <h2>EXPERIENCIA LABORAL</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
              <img src="./assets/afip.JPG" class="img-thumbnail" alt="Logo empresa">
            </div>
            <h3 class="fs-2"> ASESOR JURÍDICO </h3>
            <p>AFIP</p>
            <p>2019-actualidad</p>
            <p>Ciudad Autónoma de Buenos Aires, Argentina</p>
            <p>Asesor Jurídico en Compras y Contrataciones <!--VER SI SE DEJA --></p>
            <a href="#" class="icon-link d-inline-flex align-items-center">
              Call to action
              <img src="..." class="img-thumbnail" alt="...">
            </a>
          </div>
          <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
              <img src="./assets/arsat.JPG" class="img-thumbnail border border-0" alt="...">
            </div>
            <h3 class="fs-2"> ABOGADO</h3>
            <p>ARSAT</p>-->
            <p>2012-2019</p>
            <p>Benavídez, Provincia de Buenos Aires</p>
            <p>Asesoramiento general en derecho empresarial y atención de litigios en materia laboral, civil y comercial.. <!--VER SI SE DEJA --></p>
            <a href="#" class="icon-link d-inline-flex align-items-center">
              Call to action
              <img src="..." class="img-thumbnail" alt="...">
            </a>
          </div>
          <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
              <img src="./assets/bullo.JPG" class="img-thumbnail border border-0" alt="...">
            </div>
            <h3 class="fs-2"> Analista Legal</h3>
            <!--<p>ESTUDIO BULLÓ</p> Perece que alcanza con el Logo-->
            <p>2012</p>
            <p>Ciudad Autónoma de Buenos Aires, Argentina</p>
            <p>Descripción <!--VER SI SE DEJA --></p>
            <a href="#" class="icon-link d-inline-flex align-items-center">
              Call to action
              <img src="..." class="img-thumbnail border border-0" alt="...">
            </a>
          </div>
          <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
              <img src="./assets/almaraz.JPG" class="img-thumbnail border border-0" alt="...">
            </div>
            <h3 class="fs-2"> Analista Legal</h3>
            <!--<p>ESTUDIO JURÌDICO ALMARAZ & ASOCIADOS</p>-->
            <p>2009-2012</p>
            <p>Ciudad Autónoma de Buenos Aires, Argentina</p>
            <p>Procuración y asesoramiento en derecho de marcas y negociación de oposiciones. <!--VER SI SE DEJA --></p>
            <a href="#" class="icon-link d-inline-flex align-items-center">
              Call to action
              <img src="..." class="img-thumbnail border-0" alt="...">
            </a>
          </div>
          <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
              <img src="./assets/EP.JPG" class="img-thumbnail border border-0" alt="...">
            </div>
            <h3 class="fs-2"> Líder de Proyecto en Precios de Transferencia</h3>
            <!--<p>ENTERPRICING</p>-->
            <p>2006-2009</p>
            <p>Ciudad Autónoma de Buenos Aires, Argentina</p>
            <p>Responsable directo frente a los clientes, asignando y controlando las
              tareas de los consultores en Precios de Transferencia. <!--VER SI SE DEJA --></p>
            <a href="#" class="icon-link d-inline-flex align-items-center">
              Call to action
              <img src="..." class="img-thumbnail border border-0" alt="...">
            </a>
          </div>
        </div>
    </section> 
    <br>