<section class="border">
    <h2>EDUCACIÓN</h2>
     <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
         <div class="feature col">
           <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
             <img src="./assets/utdt.jpg" class="img-thumbnail border border-0" alt="Logo empresa">
           </div>
           <h3 class="fs-2"> Magíster en Derecho y Economía </h3>
           <p>Universidad Torcuato Di Tella</p>
           <p>Ciudad Autónoma de Buenos Aires, Argentina.</p>
           <p>Promedio: 9. Mejor promedio de la promoción. Tesis Pendiente.</p>
           <a href="#" class="icon-link d-inline-flex align-items-center">
             Call to action
             <img src="..." class="img-thumbnail border border-0" alt="...">
           </a>
         </div>
         <div class="feature col">
           <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
             <img src="./assets/uba.png" class="img-thumbnail border border-0" alt="...">
           </div>
           <h3 class="fs-2"> Abogado </h3>
           <p>Universidad de Buenos Aires</p>
           <p>Ciudad Autónoma de Buenos Aires, Argentina.</p>
           <p>Promedio: 8,50. Diploma de Honor.</p>
           <a href="#" class="icon-link d-inline-flex align-items-center">
             Call to action
             <img src="..." class="img-thumbnail" alt="...">
           </a>
         </div>
       </div>
   </section>
   <br>