<section class="border"> <h2>IDIOMAS</h2>
    <div> Español (nativo)
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-label="Default striped example" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <div> Inglés
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-label="Default striped example" style="width: 70%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <div> Portugués
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-label="Default striped example" style="width: 15%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
  </section>
  <br>